[database]
host = localhost
username = user
password = pass
name = name
sql = SELECT domain, wp_login, wp_pass FROM sites WHERE active = 1
[logger]
name = wplogger
format = %(asctime)s %(levelname)s %(message)s
log_file = /tmp/wpupdater.log
log_level = DEBUG
console_level = DEBUG
